<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-4 offset-4">
      <div class="card text-white bg-dark mt-3">
        <div class="card-header text-white text-center">
          <h4 class="text-white">Nos contacts</h4>
        </div>
        <div class="card-body shadow py-3">
          <h6>Entreprise :<strong>     Clinique Dalal Diam</strong></h6>
          <h6>Email :<strong>     dalaldiam@gmail.com</strong></h6>
          <h6>Téléphone :<strong>     33 848 80 80</strong></h6>
          <h6>Adresse :<strong>     Parcelle unité 21</strong></h6>
          <h5 class="text-center mt-5 text-white"><i>Soyez le bienvenu 🥰🥰🥰</i></h5>
          <a routerLink="../" type="submit" class="btn btn-outline-dark text-white mt-5 ms-auto">Accueil</a>
        </div>
      </div>
    </div>
  </div>
</div>
