<div class="container">

  <!-- End row -->
  <div class="row mt-4">
    <!-- Ajout -->
    <div class="col-md-4">
      <div class="card bg-dark shadow-lg my-2">
        <div class="card-header">
          <h5 class="text-white mt-2">Formulaire d'ajout d'un patient</h5>
        </div>
        <div class="card-body text-white">
          <p><i>Veuillez remplir le champ svp !!!</i></p>
          <form [formGroup]="patientForm" (ngSubmit)="addPatient()">
            <div class="mb-3">
              <input type="text" class="form-control is-invalid:not(form)" formControlName="prenom"
                     [ngClass]="{'is-invalid':submited && patientForm.controls['prenom'].errors}"
                     placeholder="Entrer le prénom du patient ...">
              <!-- erreur message -->
              <div *ngIf="submited && patientForm.controls['prenom'].errors">
                <span  class="text-danger"><i>Veuillez remplir le champs svp !!!</i></span>
              </div>
              <!-- end erreur message -->
            </div>

            <div class="mb-3">
              <input type="text" class="form-control is-invalid:not(form)" formControlName="nom"
                     [ngClass]="{'is-invalid':submited && patientForm.controls['nom'].errors}"
                     placeholder="Entrer le nom du patient ...">
              <!-- erreur message -->
              <div *ngIf="submited && patientForm.controls['nom'].errors">
                <span  class="text-danger"><i>Veuillez remplir le champs svp !!!</i></span>
              </div>
              <!-- end erreur message -->
            </div>

            <div class="mb-3">
              <input type="text" class="form-control is-invalid:not(form)" formControlName="telephone"
                     [ngClass]="{'is-invalid':submited && patientForm.controls['telephone'].errors}"
                     placeholder="Entrer le téléphone du patient ...">
              <!-- erreur message -->
              <div *ngIf="submited && patientForm.controls['telephone'].errors">
                <span  class="text-danger"><i>Veuillez remplir le champs svp !!!</i></span>
              </div>
              <!-- end erreur message -->
            </div>

            <div class="mb-3">
              <input type="text" class="form-control is-invalid:not(form)" formControlName="adresse"
                     [ngClass]="{'is-invalid':submited && patientForm.controls['adresse'].errors}"
                     placeholder="Entrer l'adresse du patient ...">
              <!-- erreur message -->
              <div *ngIf="submited && patientForm.controls['adresse'].errors">
                <span  class="text-danger"><i>Veuillez remplir le champs svp !!!</i></span>
              </div>
              <!-- end erreur message -->
            </div>

            <div class="mb-4">
              <input type="submit" class="btn btn-success" value="Ajouter">
              <a class="btn btn-danger ms-2" routerLink="../">Annuller </a>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- End ajout -->

    <!-- Liste -->
    <div class="col-md-8">
      <div class="card bg-dark shadow-lg my-2">
        <div class="card-header text-white">
          <h5 class="text-white">Liste des patients</h5>
          <div class="row">
            <div class="col-md-4 align-middle">
              <label><i>Lot d'affichages</i></label>
              <select (change)="onTableSizeChange($event)" class="shadow my-2 ms-2">
                <option *ngFor="let size of tableSizes" selected="selected"> {{ size }}</option>
              </select>
            </div>
            <div class="col-md-4 offset-4">
              <form [formGroup]="formRecherche" (ngSubmit)="search()" method="get">
                <input id="nomPatient" type="text" class="form-control shadow-lg my-2" formControlName="nomPatient"
                       placeholder="Rechercher un médecin ..." [(ngModel)]="patientSearch">
              </form>
            </div>
          </div>

        </div>
        <div class="card-body text-white">

          <div>
            <table class="table table-bordered text-white">
              <tr>
                <th class="text-white"><i>#</i></th>
                <th class="text-white"><i>Prénom</i></th>
                <th class="text-white"><i>Nom</i></th>
                <th class="text-white"><i>Téléphone</i></th>
                <th class="text-white"><i>Adresse</i></th>
                <th class="text-white"><i>Actions</i></th>

              <tr *ngFor="let patient of patients | filter:patientSearch | paginate:
            {
                      itemsPerPage: tableSize,
                      currentPage : page,
                      totalItems : count
                  }; let i = index">

                <td class="text-white align-middle"><i>{{ patient.id }}</i></td>
                <td class="text-white align-middle"><i>{{ patient.prenom }}</i></td>
                <td class="text-white align-middle"><i>{{ patient.nom }}</i></td>
                <td class="text-white align-middle"><i>{{ patient.telephone }}</i></td>
                <td class="text-white align-middle"><i>{{ patient.adresse }}</i></td>

                <td class="align-items-center">
                  <a class="btn btn-warning my-1 text-white bg-warning" routerLink="../../home/patient/modifier/{{ patient.id }}">
                    <i class="fa fa-pen"></i>
                  </a>
                  <a class="btn btn-danger my-1 text-white bg-danger ms-3" routerLink="../../home/patient/supprimer/{{ patient.id }}">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>

            </table>


            <div class="row">
              <div class="col">
                <pagination-controls previousLabel="Précédente" nextLabel="Suivante"
                                     (pageChange)="onTableDataChange($event)">
                </pagination-controls>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End Liste -->
    </div>
    <!-- End row -->

  </div>


  <router-outlet></router-outlet>
